@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

 <p class="lead">This Privacy Policy covers your use of pac-apps applications. We collect, store your personal information, or any device features/information.          
 However, the application may provide you the capability to share information such as data, text, email address and photos through e-mail and other methods, to others. Such information sharing is at your own discretion and will always require your approval to do so.</p>
<p  class="lead">
    If available, applications may also allow you to use the Bing map feature which requests approval for your GPS location. Applications allow you to enable or disable this function.  Applications do not record or submit this information, however the server providing such services may do.  Please refer to their Privacy information located on the map window.
</p>
<p  class="lead">If the application contains third party ads, we do not have any control over the way they manage information privacy.  You will need to review their Privacy policies in addition to ours as we have no control in how your information is captured, stored and managed.  Please check their Privacy policy prior to clicking on any ads available through applications.</p>
<p  class="lead">For information regarding the data stored by the application, please read the Privacy policy of the internet browsers on your device and your internet service provider. </p>
