@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<h1 align="center">Contact us</h1>*@
<p  class="lead">
    If you have any questions about this Privacy Policy or any applications, please contact <a href="mailto:info@pac-apps.com">info@pac-apps.com</a>
</p>
<p class="lead">
    This privacy policy was last updated on 10 October, 2013.  Our privacy policy may change from time to time. 
    Please ensure you review this policy frequently.

    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

    @*<address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Contact:</strong> <a href="mailto:info@pac-apps.com">Marketing@example.com</a>
    </address>*@
